<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../../web/css/style.css">
</head>
<body style="background-color: #e9e9e9; ">
    <nav class="navbar navbar-expand-lg navbar-light text-light" style="background-color: #399ce2; height: 70px">
        <a class="navbar-brand text-light" href="#"><img src="../../web/img/iconos/logo-white.png" class="logo-size" alt="">| HSS PROJECT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-light" href="#">
                    <span>
                        <svg class="bi text-white" width="32" height="32" fill="currentColor">
                            <use xlink:href="../../web/img/bootstrap-icons/bootstrap-icons.svg#calendar"/>
                        </svg>
                    </span>
                    </span><span id="reloj"></span><span class="sr-only">(current)</span>
                </a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="container-fluid">
        <div class="row p-2">
            <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Avance del proyecto</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <a class="nav-link" id="pills-profile-tab" style="display: none" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Cronograma</a>
                                </li>
                              </ul>
                              <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <!--SECCION DE ESTADISTICAS DEL PROYECTO-->
                                    <div class="row">
                                        <div class="col-12 p-3">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="card-title">Tareas nuevas realizadas en la semana</h5>
                                                </div>
                                                <div class="card-body bg-success text-white">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                            <h6>Facturación</h6>
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <img src="../../web/img/iconos/facturacion.png" alt="">
                                                                </div>
                                                                <div class="col-10">
                                                                    <p class="text-left">
                                                                        Se agrega el pedido de la bodega en especifico y se guarda en la base de datos para ser manejado despues con sentencias de DATOS
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                            <h6>Previsualización</h6>
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <img src="../../web/img/iconos/ver.png" alt="">
                                                                </div>
                                                                <div class="col-10">
                                                                    <p class="text-left">
                                                                        Se puede visualizar el detalle del pedido y como quedara la factura para ver si es correcto o no y cambiar los elementos que sean necesarios
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                            <h6>Detalle de hospitales</h6>
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <img src="../../web/img/iconos/caja-de-frutas.png" alt="">
                                                                </div>
                                                                <div class="col-10">
                                                                    <p class="text-left">
                                                                        Detalle de las bodegas de los hospitales seleccionando especificamente segun las necesidades segun el hospital
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                            <h6>Bodega</h6>
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <img src="../../web/img/iconos/caja.png" alt="">
                                                                </div>
                                                                <div class="col-10">
                                                                    <p class="text-left">
                                                                        Creación y mantenimiento de stock personal de la empresa segun lo que compran con modificación dependiendo de la facturación creada
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Segmentación del proyecto</h5>
                                                    <div id="chart_div1"></div>
                                                    <p class="card-text">División por porcentaje de tiempo invertido en cada sección del proyecto</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6  p-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Progreso por segmento</h5>
                                                        <br><br>
                                                        <span class="p-2">Programación</span>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-striped progress-bar-animated " id="progres-progra" role="progressbar" style="width: 52%" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100">52%</div>
                                                        </div>
                                                        <br>
                                                        <span class="p-2">Bases de datos</span>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                                                        </div>
                                                        <br>
                                                        <span class="p-2">Diseño de interfaz</span>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                                                        </div>
                                                        <br>
                                                        <span class="p-2">Pruebas de errores (Validaciones)</span>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
                                                        </div>
                                                        <br>
                                                        <span class="p-2">Manual de usuario</span>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                                        </div>
                                                        <br>
                                                        <span class="p-2">Maquetación de interfaz grafica</span>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-striped bg-dark progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                                                        </div>
                                                        <br>
                                                        <br><br>
                                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6  p-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Progreso total del proyecto</h5>
                                                    <div id="chart_div"></div>
                                                    <p class="card-text">Aca se muestra el porcentaje de avance determinandola segun el tiempo dedicada a cada etapa</p>
                                                    <p class="card-text"><small class="text-muted"></small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <div class="row">
                                        <div class="col-12 p-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Segmentación del proyecto</h5>
                                                    <div id="cronograma"></div>
                                                    <p class="card-text">División por porcentaje de tiempo invertido en cada sección del proyecto</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../controllers/js/charts.js"></script>
    </html>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="../controllers/js/reloj.js"></script>
</body>
</html>